.btn{
  border: 1px solid var(--color-steel);
  border-radius: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.2em;
}