
.section {
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: calc(100vh - 91px);
}

.title {
  font-size: 64px;
  max-width: 900px;
  font-family: 'Playfair Display',
  serif;
  font-weight: 600;
  text-transform: uppercase;


  @media (max-width: 1024px) {
    font-size: 48px;
    max-width: 700px;
  }

  @media (max-width: 768px) {
    font-size: 36px;
    max-width: 100%;
  }

  @media (max-width: 480px) {
    font-size: 28px;
  }
}

.description {
  max-width: 600px;
  font-family: 'Inter',
  sans-serif;
  font-weight: 500;
  color: var(--steel-dim);

  @media (max-width: 1024px) {
    font-size: 16px;
    max-width: 500px;
  }

  @media (max-width: 768px) {
    font-size: 15px;
    max-width: 100%;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.btns {
  display: flex;
  gap: 30px;

  @media (max-width: 768px) {
    flex-direction: column; // кнопки стають одна під одною
    gap: 16px;
    width: 100%;
  }
  
}

.btnLight {
  padding: 16px 38px;
  background-color: var(--color-platinum);
  transition: background-color 0.8s ease;
  color: var(--color-obsidian);
  
  
  &:hover {
    color: var(--color-platinum);
    background-color: var(--color-obsidian); // темно-сірий з прозорістю 60%
  }

  @media (max-width: 768px) {
    width: 100%; // кнопки на всю ширину
    padding: 14px 20px; // відступи по 20px зліва і справа
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 15px;
    padding: 12px 20px;
  }
}

.btnDark {
  padding: 16px 38px;
  color: var(--color-platinum);
  background-color: var(--color-obsidian);
  transition: background-color 0.8s ease;
  position: relative;
  &::after {
    content: "→";
    /* стрілочка */
    margin-left: 8px;
    font-weight: 600;
    transition: transform 0.3s ease;
  }
  &:hover {
    color: var(--color-obsidian);
    background-color: var(--color-platinum); // темно-сірий з прозорістю 60%
  }

  @media (max-width: 768px) {
    width: 100%; // кнопки на всю ширину
    padding: 14px 20px; // відступи по 20px зліва і справа
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 15px;
    padding: 12px 20px;
  }
}