.header {
  padding: 20px 0;
  border-bottom: 1px solid var(--color-steel);
  /* нижня лінія кольору steel */
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.list {
  display: flex;
  gap: 60px;
}


.link {
  text-decoration: none;
  color: var(--color-obsidian);
  font-size: 18px;
  &:hover {
    color: var(--color-graphite);
  }
  &.active {
    font-weight: 700;
  }
  
}

.langSwitch {
  // flex: 1; // права частина
  // display: flex;
  // justify-content: flex-end;

  a {
    text-decoration: none;
    color: #aaa;
    text-transform: uppercase;

    &:hover {
      color: var(--color-graphite);
    }

    &.activeLang {
      font-weight: 700;
      color: var(--color-obsidian);
    }
  }
}

.headerBtn {
  color: var(--color-graphite);
  padding: 8px 12px;
  transition: background-color 0.8s ease;
  position: relative;
  &::after {
    content: "→";
    /* стрілочка */
    margin-left: 8px;
    font-weight: 600;
    transition: transform 0.3s ease;
  }
  &:hover {
    color: var(--color-platinum);
    background: var(--color-graphite);
  }
}
